In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"..\data\old\eurovision_voting_full_updated.csv", sep = ';')

In [3]:
whereToChange = list(df[(df['Year'] == 2003) & (df['To'] == 'Lithuania')].index)
whereToChange

[13063,
 13089,
 13115,
 13141,
 13167,
 13193,
 13219,
 13245,
 13271,
 13297,
 13323,
 13349,
 13375,
 13401,
 13427,
 13453,
 13479,
 13505,
 13531,
 13557,
 13583,
 13609,
 13635,
 13661,
 13687,
 13713]

In [4]:
df.loc[whereToChange] = df.loc[whereToChange].replace('Lithuania', 'Latvia')

In [5]:
(df[df['Year'] == 2003]).head(20)

,ID,Year,Which contest,Edition,Jury or televoting,From,To,Points,Is duplicate
13051,13052,2003,f,2003f,J,Austria,Austria,0,1
13052,13053,2003,f,2003f,J,Austria,Belgium,4,0
13053,13054,2003,f,2003f,J,Austria,Bosnia and Herzegovina,7,0
13054,13055,2003,f,2003f,J,Austria,Croatia,5,0
13055,13056,2003,f,2003f,J,Austria,Cyprus,0,0
13056,13057,2003,f,2003f,J,Austria,Estonia,0,0
13057,13058,2003,f,2003f,J,Austria,France,0,0
13058,13059,2003,f,2003f,J,Austria,Germany,1,0
13059,13060,2003,f,2003f,J,Austria,Greece,0,0
13060,13061,2003,f,2003f,J,Austria,Iceland,0,0
13061,13062,2003,f,2003f,J,Austria,Ireland,0,0
13062,13063,2003,f,2003f,J,Austria,Israel,0,0
13063,13064,2003,f,2003f,J,Austria,Latvia,0,0
13064,13065,2003,f,2003f,J,Austria,Malta,0,0
13065,13066,2003,f,2003f,J,Austria,Norway,2,0
13066,13067,2003,f,2003f,J,Austria,Poland,10,0
13067,13068,2003,f,2003f,J,Austria,Portugal,0,0
13068,13069,2003,f,2003f,J,Austria,Romania,6,0
13069,13070,2003,f,2003f,J,Austria,Russia,8,0
13070,13071,2003,f,2003f,J,Austria,Slovenia,0,0

In [6]:
df.to_csv("..\data\eurovision_voting_full.csv", index = False, sep = ';')